# This is Git's per-user configuration file.
[user]
	name = Mikhail Sidorov
	email = 7780462+mikhailsidorov@users.noreply.github.com

[color]
	status = auto
	branch = auto
	diff = auto

[color "branch"]
	current = green reverse
	local = green 
	remote = yellow

[color "diff"]
	meta = yellow bold
	frag =  cyan bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = red bold

[grep]
	linenumber = true

[core]
	autocrlf = input
	editor = vim

[pager]
	branch = false
